/* 
    BUENAS PRÁCTICAS PARA LA CREACIÓN DE REGLAS CSS (SE UTILIZAN PARA MANTENER UN ORDEN EN LA CREACIÓN DE ARCHIVOS)
    1. Posicionamiento (relative, absolute)
    2. Modelo Caja (Box Model) [padding, margin, border, width, height]
    3. Tipografía
    4. Efectos Visuales
    5. Otros/Miscelaneos
*/

:root{
    /* 
        COLORES
    */
    --color-primary: #F7931A;
    --color-primary-soft: #FFE9D5;
    --color-secondary:#1A9AF7;
    --color-secondary-soft: #E7F5ff;
    --color-dark-warm: #282623;
    --color-dark: #201E1C;
    --color-light-darked: #BABABA;
    --color-background: #FAF8F7;
    --color-light: #fff;
    --color-dark-hard: #000;    

    /* 
        FUENTES
    */
    --fuente-principal: 'DM Sans', sans-serif; 
    --fuente-secundaria: 'Inter', sans-serif;
}

/* RESETEO GENERAL */
*,
*::before,
*::after{
    box-sizing: inherit;
}
html{
    font-size: 62.5%; /*Now 1rem is equal to 10px*/
    box-sizing: border-box;
}
body{
    font: normal normal 1.6rem var(--fuente-principal);
}
/* 
    CABECERA
*/
header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 32rem;
    height: 33.4rem;
    text-align: center;
    background: linear-gradient(207.8deg, var(--color-dark) 16.69%, var(--color-primary) 100%);
}
header > img{
    width: 15rem;
    height: 2.4rem;
    margin-top: 6rem;
    align-self: center;
}
.header--title-container{
    width: 90%;
    min-width: 28.8rem;
    max-width: 90rem;
    height: 21.8rem;
    margin-top: 5rem;
    align-self: center;
    position: relative;
    /* margin: 5rem auto 0; */
}
.header--title-container h1{
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.6rem;
    color: var(--color-light);
}
.header--title-container p{
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: var(--color-light);
}
.header--title-container .header__button{
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: var(--color-dark);
    text-decoration: none;
    background: var(--color-light);
    padding: 2rem 1.5rem;
    border-radius: 0.3rem;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50% );
    /* top: calc(100% - 2.8rem);
    left: calc(50% - 11.2rem); */
    box-shadow: 0px 4px 8px rgba(14, 13, 13, 0.16);
    font-weight: 700;
    width: 90%;
    max-width: 23rem;
}
.header--title-container .header__button span{
    margin-left: 2rem;
}
/* 
    SECTINO
*/
main{
    width: 100%;
    height: auto;
    background: var(--color-light);
}
.main-exchange-container{
    width: 100%;
    height: auto;
    text-align: center;
    padding: 8rem 0 3rem;
    background: var(--color-background);
}
.main-exchange-container__img{
    margin: 0 auto;
    width: 20rem;
    height: 20rem;
    margin-bottom: 5rem;
    background: url(../assets/image/bitcoin.svg) no-repeat center center / cover;
}
.main-exchange-container__title{
    width: 90%;
    min-width: 22.8rem;
    max-width: 90rem;
    margin: 0 auto;
}
.main-exchange-container__title h2{
    margin-bottom: 2.4rem;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.6rem;
    color: var(--color-dark);
}
.main-exchange-container__title p{
    margin-bottom: 2.4rem;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: #757575;
}
.main-currency-table{
    margin-bottom: 2rem;
}
.main-currency-table__container table{
    width: 20rem;
    margin: 0 auto;
}
.main-currency-table__container table tr td{
    text-align: left;
    color: #B5B0AC;
    font-size: 1.6rem;
    line-height: 1.9rem;
    font-weight: 500;
    padding: 1.5rem 0rem 1.5rem 1rem;
    background: var(--color-light);
}
.main-currency-table__container table tr .top-left{ border-radius: 1.5rem 0 0 0;}
.main-currency-table__container table tr .top-right{border-radius: 0 1.5rem 0 0;}
.main-currency-table__container table tr .bottom-left{border-radius: 0 0 0 1.5rem;}
.main-currency-table__container table tr .bottom-right{border-radius: 0 0 1.5rem 0;}
.main-currency-table__container table tr td + td{
    color: #757575;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.7rem;
}
.main-currency-table__container table span{
    width: 1.5rem;
    height: 1rem;
    margin-left: 2rem;
    display: inline-block;
}
.main-currency-table__container table span.down{background: url(../assets/icons/down-vector.svg) no-repeat center center / cover;}
.main-currency-table__container table span.up{background: url(../assets/icons/up-vector.svg) no-repeat center center / cover;}

.main-currency-table__title{
    width: 20rem;
    margin: 0 auto;
    text-align: left;
    color: var(--color-primary);
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.3rem;
}
.main-currency-table__title.celeste{
    color: var(--color-secondary);
}
.main-currency-table__date{
    width: 80%;
    max-width: 20rem;
    padding: 1.5rem 0.5rem;
    margin: 1.5rem auto 0;
    background: var(--color-primary-soft);
    font-size: 1.45rem;
    border-radius: 5px;
}
.main-currency-table__date.celeste{
    background: var(--color-secondary-soft);
}