/* 
    BUENAS PRÁCTICAS PARA LA CREACIÓN DE REGLAS CSS (SE UTILIZAN PARA MANTENER UN ORDEN EN LA CREACIÓN DE ARCHIVOS)
    1. Posicionamiento (relative, absolute)
    2. Modelo Caja (Box Model) [padding, margin, border, width, height]
    3. Tipografía
    4. Efectos Visuales
    5. Otros/Miscelaneos
*/

:root{
    /* 
        COLORES
    */
    --color-primary: #F7931A;
    --color-primary-soft: #FFE9D5;
    --color-secondary:#1A9AF7;
    --color-secondary-soft: #FFE9D5;
    --color-dark-warm: #282623;
    --color-dark: #201E1C;
    --color-light-darked: #BABABA;
    --color-background: #FAF8F7;
    --color-light: #fff;
    --color-dark-hard: #000;    

    /* 
        FUENTES
    */
    --fuente-principal: 'DM Sans', sans-serif; 
    --fuente-secundaria: 'Inter', sans-serif;
}

/* RESETEO GENERAL */
*,
*::before,
*::after{
    box-sizing: inherit;
}
html{
    font-size: 62.5%; /*Now 1rem is equal to 10px*/
    box-sizing: inherit;
}
body{
    font: normal normal 1.6rem var(--fuente-principal);
}
/* 
    CABECERA
*/
header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 32rem;
    height: 33.4rem;
    text-align: center;
    background: linear-gradient(207.8deg, var(--color-dark) 16.69%, var(--color-primary) 100%);
}
header > img{
    width: 15rem;
    height: 2.4rem;
    margin-top: 6rem;
    align-self: center;
}
.header--title-container{
    width: 90%;
    min-width: 28.8rem;
    max-width: 90rem;
    height: 21.8rem;
    margin-top: 5rem;
    align-self: center;
    position: relative;
    /* margin: 5rem auto 0; */
}
.header--title-container h1{
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.6rem;
    color: var(--color-light);
}
.header--title-container p{
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: var(--color-light);
}
.header--title-container a{
    line-height: 1.8rem;
    font-size: 1.4rem;
    color: var(--color-dark);
    text-decoration: none;
    display: inline-block;
    background: var(--color-light);
    padding: 2rem 1.5rem;
    border-radius: 0.3rem;
    position: absolute;
    top: calc(100% - 2.8rem);
    left: calc(50% - 11.2rem);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, .1);
}
.header--title-container a span{
    margin-left: 2rem;
}